@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-dark-900: #111111;
  --color-dark-700: #757575;
  --color-dark-500: #AAAAAA;

  --color-light-100: #FFFFFF;
  --color-light-200: #F5F5F5;
  --color-light-300: #E5E5E5;
  --color-light-400: #CCCCCC;

  --color-green: #007D48;
  --color-red: #D33918;
  --color-orange: #D37918;

  --font-jost: 'Jost', sans-serif;
  
  --text-h-1: 72px;
  --text-h-1--line-height: 78px;
  --text-h-1--font-weight: 700;

  --text-h-2: 56px;
  --text-h-2--line-height: 60px;
  --text-h-2--font-weight: 700;

  --text-2xl-regular: 24px;
  --text-2xl-regular--line-height: 30px;
  --text-2xl-regular--font-weight: 400;

  --text-xl-medium: 20px;
  --text-xl-medium--line-height: 28px;
  --text-xl-medium--font-weight: 500;

  --text-base-medium: 16px;
  --text-base-medium--line-height: 24px;
  --text-base-medium--font-weight: 500;

  --text-base-regular: 16px;
  --text-base-regular--line-height: 24px;
  --text-base-regular--font-weight: 400;

  --text-sm-medium: 14px;
  --text-sm-medium--line-height: 20px;
  --text-sm-medium--font-weight: 500;

  --text-xs-regular: 12px;
  --text-xs-regular--line-height: 18px;
  --text-xs-regular--font-weight: 400;





}
